/* DAISYUI */
@plugin "daisyui" {
    themes: light --default, black;
}

:root:has(input.theme-controller[value="black"]:checked) .tooltip,
:root:has(input.theme-controller[value="black"]:checked) .tooltip::before {
    border-radius: 0.25rem !important;
}

.tooltip::after {
    display: none !important;
}

/* VARIABLES  */
:root {
    --primary-color: rgb(228, 30, 60);
}

h1 {
    font-size: 3rem;
    line-height: 0.8;
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

/* LETTER CASCADE */
#container {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, calc(-50% - 165px));
}

#container img {
    height: 200px;
    margin-bottom: 50px;
}

#letter-cascade {
    width: 300px;
    position: relative;
}

.drop {
    height: 20px;
    position: absolute;
    line-height: 20px;
    color: var(--primary-color);
    transform-origin: bottom;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(0) scaleY(0);
        transform-origin: top;
    }

    10% {
        transform: translateY(0) scaleY(0.25);
        transform-origin: top;
    }

    20% {
        transform: translateY(0) scaleY(1);
    }

    70% {
        transform: translateY(300px) scaleY(1);
        transform-origin: bottom;
    }

    100% {
        text-shadow: -145px 0 0 var(--primary-color), 145px 0 0 var(--primary-color);
        transform: translateY(300px) scaleY(0);
        transform-origin: bottom;
    }
}