/* VARIABLES  */
:root {
    --primary-color: rgb(228, 28, 64);
    --background-color: rgb(0, 0, 0);
}

/* RESET CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* GENERAL */
body {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

h1 {
    font-size: 3rem;
    line-height: 0.8;
    color: var(--primary-color);
}

/* LETTERS CASCADE */
#container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 165px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container img {
    height: 200px;
    margin-bottom: 50px;
}

#letters-cascade {
    position: relative;
    width: 300px;
}

.drop {
    position: absolute;
    height: 20px;
    line-height: 20px;
    color: var(--primary-color);
    transform-origin: bottom;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(0) scaleY(0);
        transform-origin: top;
    }

    10% {
        transform: translateY(0) scaleY(0.25);
        transform-origin: top;
    }

    20% {
        transform: translateY(0) scaleY(1);
    }

    70% {
        transform: translateY(300px) scaleY(1);
        transform-origin: bottom;
    }

    100% {
        transform: translateY(300px) scaleY(0);
        transform-origin: bottom;
        text-shadow: -145px 0 0 var(--primary-color), 145px 0 0 var(--primary-color);
    }
}